.componentlist {
  display: grid;
  grid-gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 464px;
  overflow-y: scroll;
}

.button {
  margin-left: 40px;
}

.text {
  margin-right: 9.5px;
}

.totalSum {
  display: flex;
  flex-direction: row;
  width: 536px;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}
