@import url("../../fonts/fonts/fonts.css");

.optionselection {
  margin: 20px 0;
  font-family: "JetBrains";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.options {
  max-height: 716px;
  max-width: 608px;
  overflow-y: scroll;
  scrollbar-color: #8585ad;
}

.cardsblock {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  grid-gap: 24px;
}